html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

h1 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #596673;
}

h3 {
    color: #596673;
}

p {
    display: grid;
    place-items: center;
    width: 500px;
}

.index-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 30px;
    box-sizing: border-box;
}

.index-container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index-auth-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    color: #8993ad;
}

#index-auth-links-register {
    color: #2174fd;
    text-decoration: none;
}

#index-auth-links-register:hover {
    text-decoration: underline;
}

.auth-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px 30px;
    box-sizing: border-box;
}

.auth-container-header,
.new-task-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px 30px;
    box-sizing: border-box;
}

.new-task,
.auth-form {
    position: relative;
    margin-bottom: 20px;
    padding: 0 30px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 30px;
    box-sizing: border-box;
}

.list-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-list {
    margin-top: 10px;
}

.task-list-empty {
    padding: 40px;
    text-align: center;
}

.task-item {
    margin-bottom: 25px;
    padding: 15px 30px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-title span {
    font-weight: bold;
    color: #8993ad;
}

.task-description {
    margin-bottom: 10px;
    color: #666;
}

.task-description p {
    display: block;
    margin: 0;
}

.task-details {
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    font-size: 14px;
    color: #8993ad;
}

.task-btn {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-btn-complete {
    padding: 8px 15px;
    text-decoration: none;
    color: white;
    background-color: #2174fd;
    border: none;
    cursor: pointer;
}

.task-btn-delete {
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.save-btn,
.auth-btn {
    max-width: 420px;
    margin: 10px 0 20px 0;
    padding: 20px 55px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    background-color: #2174fd;
    border: none;
    cursor: pointer;
}

.logout-form {
    margin: 0;
    padding: 0;
}

.logout-btn {
    padding: 0;
    font-size: 16px;
    color: #007bff;
    background: none;
    border: none;
    cursor: pointer;
}

.logout-btn:hover {
    text-decoration: underline;
}

#add-link,
#logout-link {
    margin-right: 30px;
    color: #666;
    text-decoration: none;
}

#add-link:hover,
#logout-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.error-container {
    padding: 30px 0 0 30px;
}

#error-heading {
    margin-bottom: 20px;
    font-size: 55px;
    font-weight: bold;
    color: #596673;
}

#error-title {
    font-size: 20px;
    color: #515c68;
}

#error-message {
    font-size: 12px;
    font-weight: bold;
    color: #515c68;
}

#index-link {
    margin-top: 35px;
}

#index-link a {
    color: #2174fd;
    text-decoration: none;
}

#index-link a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
    padding-top: 30px;
}

.form-block {
    margin-bottom: 25px;
    width: 100%;
    max-width: 420px;
}

input, label {
    display: block;
}

label {
    margin-bottom: 10px;
    font-size: 14px;
    color: #8993ad;
}

#title-input,
#category-input,
#description-field,
#priority-select,
#deadline-input,
#username-input,
#password-input {
    width: 100%;
    height: 2.25rem;
    padding: 0.35rem 0.75rem;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    background-color: #fcfcfc;
    border: 1px solid #e5e5e5;
}

#description-field {
    height: 120px;
    resize: none;
}

@media (max-width: 768px) {
    h1 {
        text-align: center;
    }

    .task-container {
        padding: 20px 15px;
        max-width: 100%;
    }

    .new-task,
    .auth-form {
        padding: 25px 20px 0;
    }

    form {
        margin: 0 auto;
        padding-top: 0;
    }

    .form-block {
        margin-bottom: 25px;
        max-width: 100%;
    }

    #title-input,
    #category-input,
    #description-field,
    #priority-select,
    #deadline-input {
        padding: 0.5rem 0.75rem;
        font-size: 16px;
    }

    label {
        margin-bottom: 8px;
        font-size: 16px;
    }
}


