html, body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-bottom: 20px;
    font-size: 55px;
    color: #596673;
}

.container {
    padding: 10px 0 0 30px;
}

.error-title {
    font-size: 20px;
    color: #515c68;
}

.error-message {
    font-size: 12px;
    font-weight: bold;
    color: #515c68;
}

.index-link {
    margin-top: 35px;
}

.index-link a {
    color: #4682B4;
    text-decoration: none;
}

.index-link a:hover {
    text-decoration: underline;
}